# Node.js and npm
node_modules/
npm-debug.log

# MongoDB
mongod.lock
mongod.log

# React
build/
*.js.map

# General
.DS_Store
.env
.idea/
.vscode/

# Operating System
*.tmp
*.log

# MERN specific
/client/node_modules
/server/node_modules
/client/build
/server/config/env.js



# Node.js and npm
node_modules/
npm-debug.log
